<!DOCTYPE html>
<html lang="en">
<meta name="author" content="{{ site.author }}" />
        <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}" />
        <meta name="keywords" content="{% if page.title %}{{ page.title }}, {{ site.title }}, {% for categ in page.categories %}{{ categ }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% else %}{{ site.title }}, {% for category in site.categories %}{% capture categories_slug %}{{ category | first }}{% endcapture %}{% for categ in categories_slug %}{{ categ }}{% endfor %}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}" />
{% include head.html %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
        <!-- Fonts -->
        <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,400italic,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <!-- Custom CSS -->        
        <link rel="stylesheet" href="/static/css/super-search.css">
        <link rel="stylesheet" href="/static/css/main.css">
<body>
  <div class="row">
    <div class="col s12 m3">
      <div class="table cover">
        {% include sidebar.html %}
      </div>
    </div>
    <div class="col s12 m9">
      <div class="post-listing">
        {{ content }}
        {% include footer.html %}
      </div>
    </div>
  </div>
  {% include js.html %}
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/super-search.js"></script>
</body>
</html>
